terraform/envs/dev/.terraform
terraform/envs/dev/.terraform.lock.hcl 
terraform/envs/dev/*.tfstate
terraform/envs/dev/*.tfstate.*
terraform/envs/dev/*.tfvars
test2.txt  
test3.txt  
test.jpg
test.txt
processed-test.jpg
build
